.image-row {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    object-fit: cover;
    /* Optional gap between images */
}

.image-item {
    /* Add any desired styles for each individual image */
    width: 100%;
    height: 200px;
}

@media (max-width: 750px) {
    .image-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns on larger screens */
      grid-gap:0px;
    }
  }