.about-main{
    background: #000;
    color: white;
    position: absolute;
}
.footer-wrapper{
    position: relative;
}
.about-middle-container{
    background: #ffffff;
    position: relative;
}
.home-slider{
    width: 100%;
    position: relative;
    background-color: white;
}