.main-container{
    position: absolute;
    width: 100%;
    
}
.heading-text-wrapper{
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}
.top-container{
    position: relative;
    
}
.top-heading-h1{
    font-size: 80px;
    margin: 0;
}
.top-text-span{
    font-size: 20px;
}
.middle-content-container{
    width: 100%;
    background: #ffffff;
    position: relative;
}
.home-slider{
    width: 100%;
    position: relative;
    background-color: white;
}
.footer-wrapper{
    position: relative;
}
@media screen and (max-width:750px) {
    .heading-text-wrapper{
        height: 70vh;
    }
}