.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: background-color 0.3s ease;
  z-index: 50;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.navbar.scrolled {
  background-color: #f039ad;
  height: 80px !important;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20%;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.booknow-button {
  background-color: #d2128c;
  color: #fff;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20%;
  font-weight: 800;
}

.mob-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
  color: white;
}

.menu-bg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2128c;
}

.mob-nav-drawer-open {
  height: 100%;
  width: 90%;
  z-index: 5;
  position: fixed;
  background-color: #0f060c9f;
  color: white;
}

.nav-close-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;
  color: #d2128c;
  padding: 10px;
  border-radius: 50%;

}

.mob-nav-links {
  list-style-type: none;
  /* Remove bullet points */
  padding: 0;
  margin-left: 10%;
  /* Remove default padding */
  color: #fff;
  /* Set text color to white */
  font-size: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: start;
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mob-nav-links li {
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-origin: left center;
  box-shadow: none; /* Initial state: no box-shadow */
  padding: 0px 10px;
  border-radius: 10px;
}

.mob-nav-links li a {
  color: #fff;
  /* Set link color to white */
  text-decoration: none;
  /* Remove default underline */
}

.mob-nav-links li:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add box-shadow on hover */
}
.nav-follow-link{
  color: white;
  transition: transform 0.3s ease-in-out;
}
.nav-follow-section{
  padding-left: 10%;
  padding-right: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-follow-link:hover {
  animation: smooth-shake 0.6s;
  animation-iteration-count: 1;
}

@keyframes smooth-shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-2px, -2px) rotate(-3deg); }
  40% { transform: translate(2px, 2px) rotate(3deg); }
  60% { transform: translate(-2px, 2px) rotate(-3deg); }
  80% { transform: translate(2px, -2px) rotate(3deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

/* @media screen and (max-width:750px) {
  .mobile-img-wrapper{
    height: 70px;
    width: 70px;
    overflow: hidden;
  }
} */