.react-tabs {
  -webkit-tap-highlight-color: transparent;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 0;
}

.react-tabs__tab {
  float: left;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  color: #F039AD;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;

}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

u {
  text-decoration: #F039AD wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
  height: 1.5em;
}

@media screen and (max-width:750px) {
  .react-tabs {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .react-tabs__tab-list {
    margin: 0;
    padding: 0;
  }
}