.ig-wrapper {
    display: block;
}

.ig-main {
    margin-top: 50px;
    padding-right: 15%;
    padding-left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.card-img-wrapper {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    /* Set the width to 100% */
    padding-top: 100%;
    /* Maintain a 1:1 aspect ratio */
    position: relative;
}

.card-image {
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

.card-title {
    margin-top: 10px;
    text-align: start;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.card-category {
    margin-top: 10px;
    font-family: sans-serif;
    text-align: start;
}

.card-image:hover {
    transform: scale(1.1);
}

@media screen and (max-width:750px) {
    .ig-main {
        margin-top: 20px;
        padding-right: 5%;
        padding-left: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-category {
        margin-top: 5px;
    }
}