.footer-main-wrapper {
    padding-left: 20%;
    padding-right: 10%;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

    row-gap: 100px;
    font-family: sans-serif;
}

.footer-first-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
}

.footer-section {
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

h5 {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

h5::after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* Adjust the position of the underline */
    left: 0;
    right: 0;
    width: 70px;
    height: 10px;
    /* Adjust the height of the underline */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 10'><path d='M0 5 Q 10 0 20 5 T 40 5 Q 50 10 60 5 T 80 5 Q 90 0 100 5 T 120 5' fill='none' stroke='black' stroke-width='2' /></svg>");
    background-repeat: repeat-x;
}

a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width:750px) {
    .footer-main-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer-section {
        text-align: center;
    }

    h5::after {
        bottom: -15px;
        /* Adjust the position of the underline */
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-first-child {
        grid-gap: 10px;
    }
}