.mission-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    row-gap: 20px;
}
.mission-row-content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}
.mission-col{
    width: 30%;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}
.mission-heading{
    color: #F039AD;
    text-decoration: #F039AD wavy underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 10px;
    height: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
/* .mission-img{
    height: 450px;
    object-fit:cover;
} */
.mission-text{
    font-family: sans-serif;
    line-height: 25px;
    font-size: auto;
}
@media screen and (max-width:450px) {
    .mission-row-content{
        flex-direction: column;
        row-gap: 50px;
        width: 90vw;

    }
    .mission-col{
        width: 90%;
        height: auto;
    }
}